---
title: 联系我们
address: 巴南区鱼洞大江工业园区黄溪街52、53号
ak: 5U6KMQNuyQKmqnlQGCTla4gh
---

/ content
.global.indent
  .container
    .map
      %h2.indent 联系我们
      %script{:src => "http://api.map.baidu.com/api?v=2.0&ak=#{@item[:ak]}"}
      #bmap{:style => "height: 403px;"}
      :javascript
        $(function () {
          // 百度地图API功能
          var map = new BMap.Map("bmap");    // 创建Map实例
          var geocoder = new BMap.Geocoder();
          geocoder.getPoint("#{@item[:address]}", function (point) {
            if (point) {
              map.addOverlay(new BMap.Marker(point));
              map.centerAndZoom(point, 15);  // 初始化地图,设置中心点坐标和地图级别
              map.addControl(new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT}));
              map.addControl(new BMap.NavigationControl());
            } else {
              alert("地址无效");
            }
          }, "重庆市");
        });
  .formBox
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12.form-box
          %h2.indent 地址
          .info
            .row
              .col-lg-4.col-md-4.col-sm-4
                %h3 地址1
                %p
                  = @item[:address]
              .col-lg-4.col-md-4.col-sm-4
                %h3 联系人
                %p 李女士
                %h3 电话
                %p
                  18996023618
                  %br/
                  023-66231629
