---
title: 联系我们
---

/ content
.global.indent
  .container
    .map
      %h2.indent 联系我们
      %iframe{:src => "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24214.807650104907!2d-73.94846048422478!3d40.65521573400813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1395650655094", :style => "border:0"}
  .formBox
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12.form-box
          %h2.indent 地址
          .info
            .row
              .col-lg-4.col-md-4.col-sm-4
                %h3 地址1
                %p
                  巴南区鱼洞大江工业园区黄溪街52、53号
              .col-lg-4.col-md-4.col-sm-4
                %h3 联系人
                %p 李女士
                %h3 电话
                %p
                  18996023618
                  %br/
                  023-66231629
