---
title: 首页
---

:javascript
  $(document).ready(function(){
      jQuery('.camera_wrap').camera();
  });
:javascript
  $(window).load(function() {
        $(function() {
            $('#foo2').carouFredSel({
        auto: false,
        responsive: true,
        width: '100%',
        scroll: 1,
        prev: '#prev2',
        next: '#next2',
        items: {
          height: 'auto',
          width:225,
          visible: {
            min: 1,
            max: 6
          }
        },
        mousewheel: true,
        swipe: {
          onMouse: true,
          onTouch: true
        }
      });
    });  	 				
  });
.slider
  .camera_wrap
    %div{"data-src" => "/img/picture1.jpg"}
      .camera-caption.fadeIn
        %p.title
          专业的金属加工
    %div{"data-src" => "/img/picture2.jpg"}
      .camera-caption.fadeIn
        %p.title
          繁多的钢材品种
    %div{"data-src" => "/img/picture3.jpg"}
      .camera-caption.fadeIn
        %p.title
          经验丰富的团队
.welcome-box
  .container
    %p.title 欢迎！
    .extra-wrap
      %p 重庆桦甸物资有限公司是一家专业从事钢材贸易及钢材加工配送的综合性贸易公司，拥有武钢授权的西南地区一级代理商，以经销武钢冷轧DC01、深冲DC04、热轧Q235、35号、45号钢板为主，同时兼营各大钢厂的其他钢材品种。
.global
  .center-box
    .container
      %h2 我们的服务
      %p.description
        %span 理解金属处理
      .row
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .thumb-pad0
            .thumbnail
              .badge 01
              .caption
                %p.title 钢卷表面清洁
                %p 清除材料表面的氧化皮，使其光滑。
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .thumb-pad0
            .thumbnail
              .badge 02
              .caption
                %p.title 钢卷酸洗
                %p 清除铁锈，仅适用热轧产品。
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .thumb-pad0
            .thumbnail
              .badge 03
              .caption
                %p.title 金属切割
                %p 将钢卷切割为宽度更窄的钢卷。
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .thumb-pad0
            .thumbnail
              .badge 04
              .caption
                %p.title 钢材开卷
                %p 将钢卷处理平整。
  .articles-box
    .container
      .row
        .col-lg-4.col-md-4.col-sm-4
          .thumb-pad1
            .thumbnail
              %figure
                %img{:alt => "", :src => "/img/page1_icon1.png"}/
              .caption
                %p.title 加工
                %p 定制钢材加工
        .col-lg-4.col-md-4.col-sm-4
          .thumb-pad1
            .thumbnail
              %figure
                %img{:alt => "", :src => "/img/page1_icon2.png"}/
              .caption
                %p.title 销售
                %p 工厂直销
        .col-lg-4.col-md-4.col-sm-4
          .thumb-pad1
            .thumbnail
              %figure
                %img{:alt => "", :src => "/img/page1_icon3.png"}/
              .caption
                %p.title 查询
                %p 咨询价格，或其他帮助，可通过电话联系
  .container
    %h2 我们的产品
    .row
      .col-lg-4.col-md-4.col-sm-4
        .thumb-pad2
          .thumbnail
            %figure
              %img{:alt => "冷轧钢卷", :src => "/img/dc01.jpg"}/
            .caption
              %h3 冷轧钢卷
              %p 产自武钢，材质DC01，厚度0.5至3.0CM。
      .col-lg-4.col-md-4.col-sm-4
        .thumb-pad2
          .thumbnail
            %figure
              %img{:alt => "深冲钢卷", :src => "/img/dc04_dc06.jpg"}/
            .caption
              %h3 深冲钢卷
              %p 产地武钢，材质DC04、DC06，厚度0.7至2.0CM。
      .col-lg-4.col-md-4.col-sm-4
        .thumb-pad2
          .thumbnail
            %figure
              %img{:alt => "热轧卷和正平板", :src => "/img/q235.jpg"}/
            .caption
              %h3 热轧卷和正平板
              %p 产地武钢，材质Q235B。
