!!!
%html{:lang => "en"}
  %head
    %title 重庆桦甸物资 | #{@item[:title]}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/img/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %meta{:content => "Your description", :name => "description"}/
    %meta{:content => "Your keywords", :name => "keywords"}/
    %meta{:content => "Your name", :name => "author"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    / you don't need to keep this, but it's cool for stats!
    %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}/
    / CSS
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/
    %link{:href => "/css/camera.css", :rel => "stylesheet"}/
    %link{:href => "/css/stuck.css", :rel => "stylesheet"}/
    %link{:href => "/fonts/font-awesome.css", :rel => "stylesheet"}/
    / JS
    %script{:src => "/js/jquery.js"}
    %script{:src => "/js/jquery-migrate-1.2.1.min.js"}
    %script{:src => "/js/superfish.js"}
    %script{:src => "/js/jquery.easing.1.3.js"}
    %script{:src => "/js/jquery.mobilemenu.js"}
    %script{:src => "/js/jquery.ui.totop.js"}
    %script{:src => "/js/jquery.equalheights.js"}
    %script{:src => "/js/camera.js"}
    /[if (gt IE 9)|!(IE)]
      %script{:src => "/js/jquery.mobile.customized.min.js"}
    %script{:src => "/js/tmstickup.js"}
    %script{:src => "/js/jquery.carouFredSel-6.1.0-packed.js"}
    %script{:src => "/js/jquery.mousewheel.min.js"}
    %script{:src => "/js/jquery.touchSwipe.min.js"}
    :javascript
      $(document).ready(function(){
          jQuery('.camera_wrap').camera();
      });
    :javascript
      $(window).load(function() {
              $(function() {
                  $('#foo2').carouFredSel({
      				auto: false,
      				responsive: true,
      				width: '100%',
      				scroll: 1,
              prev: '#prev2',
      				next: '#next2',
      				items: {
      					height: 'auto',
      					width:225,
      					visible: {
      						min: 1,
      						max: 6
      					}
      				},
      				mousewheel: true,
      				swipe: {
      					onMouse: true,
      					onTouch: true
              }
            });
        });  	 				
      });
    /[if lt IE 9]
      %div{:style => "text-align:center"}
        %a{:href => "http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"}
          %img{:alt => "You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.", :border => "0", :height => "42", :src => "http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg", :width => "820"}/
    /[if lt IE 9]
      %script{:src => '/docs-assets/js/ie8-responsive-file-warning.js'}
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{:src => 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
      %script{:src => 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'}
  %body
    / header
    %header
      #stuck_container
        .menuBox
          .container
            %h1.navbar-brand.navbar-brand_
              %a{:href => "index.html"}
                %img{:alt => "", :src => "/img/logo.png"}/
                %span company name
            %nav.navbar.navbar-default.navbar-static-top.tm_navbar.clearfix{:role => "navigation"}
              %ul.nav.sf-menu.clearfix
                %li{:class => ('active' if @item == @items['/'])}
                  %a{:href => @items['/'].path} Home
    = yield
    / footer
    %footer
      .container
        .row
          .col-lg-12
            %p.title copyright
            %p
              %span Muller
              \&copy;
              %em#copyright-year
              \&nbsp;
              %a{:href => "index-5.html"} Privacy policy
            .top-box
      More Steelworks Website Templates at
      %a{:href => "http://www.templatemonster.com/category/steelworks-website-templates/", :rel => "nofollow", :target => "_blank"} TemplateMonster.com
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/tm-scripts.js"}
